<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.safescan.mapper.ForumMapper">
    <insert id="add" parameterType="org.safescan.DTO.ForumDTO">
        insert into forums(user_id, title, content, create_time, update_time)
        values (#{userId}, #{title}, #{content}, #{createTime}, #{updateTime})
    </insert>

    <select id="getByForumId" resultType="org.safescan.DTO.ForumDTO">
        select user_id, title, content, like_count, comment_count, state, create_time
        from forums
        where forum_id = #{forumId} and state = 'Readable'
    </select>

    <select id="getForums" resultType="org.safescan.DTO.ResponseForumDTO">
        select u.user_id, u.username, u.avatar, f.forum_id, f.title, f.content, f.like_count, f.comment_count, f.create_time
        from forums f
        inner join users u on u.user_id = f.user_id
        where f.state = 'Readable'
        order by f.create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="isLikedByUserId" resultType="java.lang.Boolean">
        select COUNT(1) > 0
        from forum_likes
        where forum_id = #{forumId} and user_id = #{userId}
    </select>

    <update id="update" parameterType="org.safescan.DTO.ForumDTO">
        update forums
        set title = #{title}, content = #{content}, update_time = #{updateTime}
        where forum_id = #{forumId}
    </update>

    <update id="deleteByForumId">
        update forums
        set state = 'Deleted', update_time = #{updateTime}
        where forum_id = #{forumId}
    </update>

    <select id="getLikedForum" resultType="org.safescan.DTO.ForumDTO">
        select *
        from forum_likes
        where forum_id = #{forumId} and user_id = #{userId}
    </select>

    <select id="getStateByForumId" resultType="java.lang.String">
        select state
        from forums
        where forum_id = #{forumId}
    </select>
    
    <insert id="addForumLikes">
        insert into forum_likes(forum_id, user_id, create_time)
        values (#{forumId}, #{userId}, #{createTime})
    </insert>

    <delete id="deleteForumLikes">
        delete from forum_likes
        where forum_id = #{forumId} and user_id = #{userId}
    </delete>

    <update id="updateForumLikes">
        update forums
        <set>
            <choose>
                <when test="state == 'like'">
                    like_count = like_count + 1, update_time = #{updateTime}
                </when>

                <when test="state == 'unlike'">
                    like_count = like_count - 1, update_time = #{updateTime}
                </when>
            </choose>
        </set>
        where forum_id = #{forumId}
    </update>
</mapper>