<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.safescan.mapper.UserMapper">
    <select id="findByEmail" resultType="org.safescan.entity.User">
        select user_id, username, email, password, avatar from user
        where email = #{email};
    </select>

    <insert id="registerByEmail">
        insert into user(email, password, create_time, update_time)
        values(#{email}, #{encryptedPassword}, now(), now());
    </insert>

</mapper>