<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.safescan.mapper.UserMapper">
    <select id="findByEmail" resultType="org.safescan.DTO.UserDTO">
        select user_id, username, email, password, avatar
        from users
        where email = #{email};
    </select>

    <insert id="registerByEmail">
        insert into users(email, password, create_time, update_time)
        values(#{email}, #{encryptedPassword}, now(), now());
    </insert>

    <update id="update" parameterType="org.safescan.DTO.UserDTO">
        update users
        set username = #{username}, email = #{email}, update_time = #{updateTime}
        where user_id = #{userId}
    </update>

    <select id="findByUserId" resultType="org.safescan.DTO.UserDTO">
        select user_id, username, email, password, avatar
        from users
        where user_id = #{userId};
    </select>

    <update id="updateUserAvatar">
        update users
        set avatar = #{fileUrl}, update_time = #{updateTime}
        where user_id = #{userId}
    </update>

    <update id="updatePassword">
        update users
        set password = #{encryptedPassword}, update_time = #{updateTime}
        where user_id = #{userId}
    </update>

    <select id="getAttributes" resultType="org.safescan.DTO.AttributesDTO">
        select pregnant, children, elderly, disabled, allergic, pets
        from attributes
        where user_id = #{userId}
    </select>

    <insert id="setAttributes" parameterType="org.safescan.DTO.AttributesDTO">
        insert into attributes(user_id, pregnant, children, elderly, disabled, allergic, pets)
        values (#{userId}, #{attributes.pregnant}, #{attributes.children}, #{attributes.elderly},
                #{attributes.disabled}, #{attributes.allergic}, #{attributes.pets})
    </insert>

    <update id="updateAttributes" parameterType="org.safescan.DTO.AttributesDTO">
        update attributes
        set pregnant = #{attributes.pregnant}, children = #{attributes.children}, elderly = #{attributes.elderly},
            disabled = #{attributes.disabled}, allergic = #{attributes.allergic}, pets = #{attributes.pets}
        where user_id = #{userId}
    </update>
</mapper>